<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="dbpath" value="C:\Desarrollo\Lucas\AuxiliarAbarrotes\AuxiliarAbarrotes" />
		<add key="dbname" value="AUXILIARABARROTES.FDB" />
	</appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding1" />
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
                binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
                contract="wsaa.LoginCMS" name="LoginCms" />
            <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="wsfe.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>